:root {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #111;
    color: #eee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 80vh;
    width: 100vw;
    display: flex;
    margin-top: 10vh;
}

.left-side {
    background-image: url(./images/halie-west-bTzpau9mKT4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 40%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(240, 10%, 10%, 0.4);
    color: #eee;
    height: 15%;
    width: 100%;
    position: absolute;
    top: 25%;
}

.logo-container > img {
    height: 90%;
}

.left-side > footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    padding: 4px;
    bottom: 0;
}

.left-side > footer a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 60%;
    background-color: #eee;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credentials {
    background-color: #fff;
}